<div class="main-container">
  <div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">
      <header class="header">
        <h1>User Login</h1>
        <p-button *ngIf="isEnable()" (click)="logout()" class="logOut" label="Logout"></p-button>
      </header>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">
      <router-outlet></router-outlet>
    </div>
  </div>


  <div class="ui-g">
    <div class="ui-g-12 ui-g-nopad">
      <footer class="footer">
        Copyright 2020 palnar
      </footer>
    </div>
  </div>
</div>